.image{
  height:40em; background-size:cover; width:auto;
  background-image:url('http://pngimg.com/uploads/titanic/titanic_PNG14.png');
  background-position:50% 50%;
}

h1{
  font-size: 80px;
  font-family: Garamond, serif;
}
