<p-card header="Submit form to check survival">

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <div style="padding: 0.6em">
       Sex
      </div>
      <p-dropdown [options]="sexes" [(ngModel)]="sex" optionLabel="label"></p-dropdown>
    </div>
    <div class="p-field p-col">
      <div style="padding: 0.6em">
        Age
      </div>
      <p-inputNumber [(ngModel)]="age" mode="decimal"></p-inputNumber>
    </div>
    <div class="p-field p-col">
      <div style="padding: 0.6em">
        Socio economic status
      </div>
      <p-dropdown [options]="pclasses" [(ngModel)]="pclass" optionLabel="label"></p-dropdown>
    </div>
  </div>

  <h3>Who (and how many) would you most likely take on a ship trip?</h3>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <div style="padding: 0.6em">
        Siblings
      </div>
      <p-dropdown [options]="numbers" [(ngModel)]="selectedSiblings" optionLabel="label"></p-dropdown>
    </div>
    <div class="p-field">
      <div style="padding: 0.6em">
        Spouse
      </div>
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <div class="p-field p-col">
      <div style="padding: 0.6em">
        Parents
      </div>
      <p-dropdown [options]="numbers" [(ngModel)]="selectedParents" optionLabel="label"></p-dropdown>
    </div>
    <div class="p-field p-col">
      <div style="padding: 0.6em">
        Children
      </div>
      <p-dropdown [options]="numbers" [(ngModel)]="selectedChildren" optionLabel="label"></p-dropdown>
    </div>
  </div>

  <div class="p-text-right">
    <p-button label="Check survival" class="p-button-success" (onClick)="getSurvival()"></p-button>
  </div>
</p-card>


